<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th class="headers"><%= sortable "first_name" %></th>
      <th class="headers"><%= sortable "last_name" %></th>
      <th class="headers"><%= sortable "email" %></th>
      <th class="blank"></th>
      <th class="blank"></th>
      <th class="blank"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="table_border"><%= user.first_name %></td>
        <td class="table_border"><%= user.last_name %></td>
        <td class="table_border"><%= user.email %></td>
        <td class="blank"><%= link_to 'Show', user %></td>
        <td class="blank"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td class="blank"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_path %>
